.notificationtr 
tr:hover{
	cursor: pointer;
	background-color: #ccc;
}

.tbres{
	 width: 100%;
}

.bienvenido{
	display: block-inline;
}
	

@media only screen and (max-width: 768px) {
  .bienvenido {
    display: none;
  }
}